<footer class="page-footer blue-grey lighten-5">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">オンライン動画学習サイト</h5>
        <p class="black-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ea sequi optio tempore, sint dolores eum quaerat ab? Quam animi, possimus quo harum, eius nihil similique. Possimus eos dolorum dicta!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Social</h5>
        <ul>
          <li><a class="black-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Google Plus</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey lighten-5">
    <div class="container">
    <a class="black-text">© 2015 Copyright Code4Pro</p>
    <%= link_to "About Us", pages_about_path, :class => "black-text text-lighten-4 right" %>
    </div>
  </div>
</footer>
